<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>following</th>
    <th><%=link_to user.following.count, following_user_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%=link_to user.followers.count, followers_user_path(user) %></th>
  </tr>
</table>
<div class='row'>
  <% if current_user == user %>
    <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
  <% else %>
    <div class="col-12">
      <% if chat_room?(user) %>
        <%= link_to "チャットをする room直行", room_path(@room) %>
      <% else %>
        <%= link_to "チャットをする", rooms_path(opponent: user.id), method: :post %>
      <% end %>
    </div>
    <div class="col-12"><%= render "users/follow_unfollow", user: user %></div>
  <% end %>
</div>