<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      チャットページ <%= @chat_user.name %><%= @room %><br>
      <div class="chat">
        <%= render "chat", chats: @chats %>
      </div>
      <%= form_with model: @chat do |f| %>
        <%= f.text_area :message, class: "form-control" %>
        <%= f.hidden_field :room_id, value: @room_id %>
        <%= f.submit "送信", class: "btn" %>
      <% end %>
  	</div>
  </div>
</div>